.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-popup-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 101;
  transition: all 0.15s ease-in 0s;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .modal {
      transform: translateY(50px) scale(1);
    }
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  padding: 10px;
}

.modal {
  position: relative;
  padding: 20px;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  transition: all 0.25s ease;
  width: 350px;
  overflow-y: auto;
  transform: translateY(50px) scale(0.96);
  max-height: 100vh;
  max-width: 100%;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 28px 23px -7px,
    rgb(0 0 0 / 4%) 0px 12px 12px -7px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 0 -9px 16px 0;
  font-weight: 500;
}
